---
layout: main
---

{% for post in paginator.posts %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
      <div class="chapter_inner">
        <span class="chapter_number">{{post.date | date: '%Y, %b %d'}}</span>
        <div class="chapter_title">
          <span class="chapter_title_upper">{{post.title}}</span><br>
          <span class="chapter_title_lower">{{post.description}}</span>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
